<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
      <section name="aleaSettings" type="Alea.Settings, Alea" />
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <aleaSettings>
        <cuBLAS version="10" />
        <jitCompile level="Optimized" />
    </aleaSettings>
</configuration>